In [48]:
import pandas as pd
import numpy as np
import re

In [140]:
lusitania_data_location = '/Users/toddmoffett1/DSI/dsi_workspace/project-2/assets/lusitania_ages.csv'
df = pd.read_csv(lusitania_data_location, columns='Age')

TypeError: parser_f() got an unexpected keyword argument 'columns'

In [82]:
df.drop('g', axis=1, inplace=True)

In [83]:
df

       A
0     38
1     37
2     30
3     25
4     27
5     48
6     24
7     19
8     57
9     50
10    25
11    56
12    41
13    19
14    33
15    50
16    29
17    38
18    18
19    20
20    21
21    26
22    17
23    33
24    27
25    25
26    24
27    58
28    18
29    26
...   ..
1277  62
1278  43
1279  43
1280  42
1281  40
1282  32
1283  37
1284  45
1285  33
1286  33
1287  53
1288  37
1289  19
1290  35
1291  16
1292  21
1293  55
1294  32
1295  34
1296  16
1297  23
1298  26
1299  44
1300  27
1301  51
1302  23
1303  31
1304  35
1305  16
1306  37

[1307 rows x 1 columns]

In [124]:
babies = df[df['A'].isnull()]

In [121]:
df[(df['A'] == 32)]

Empty DataFrame
Columns: [A]
Index: []

In [138]:
df[['A'][50:100]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1307 rows x 0 columns]

In [139]:
df.A.unique()

array(['38', '37', '30', '25', '27', '48', '24', '19', '57', '50', '56',
       '41', '33', '29', '18', '20', '21', '26', '17', '58', '47', '54',
       '35', '43', '59', '53', '44', '51', '40', '49', '42', '32', '31',
       '34', '22', '45', '36', '52', '23', '60', '28', '16', '46', '15',
       '39', '63', '55', '64', '1', '6', '9', '14', '10', '12', '62', '5',
       '8', '65', '68', '76', '61', '3', '2', '4', '11', '7', '70', '13',
       '67', '73', '72', '1)', '69'], dtype=object)